{% extends 'base.html' %}
{% block content %}
{% load static %}


<div  style="background-image:url({%static 'images/bg-image.jpg' %})">
	<div class="container-fluid  text-light pt-5 pb-5" style="background:rgba(0, 0, 0, .50);">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center" >
					<h3 style="font-size:50px">Disasters</h3>
					<p>Home/Disasters
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			
			<div class="card mt-5 shadow" style="width: 100%;">
  <img src="{{i.image.url}}" class="card-img-top" alt="..." height="500px">
  <div class="card-body">
    <h5 class="card-title">{{i.title}}</h5>
    <p style="color:black">Location: {{i.location}}</p>
    <p class="text-right" style="color:red">Date: {{i.date}}</p>
    <p class="card-text">{{i.description}}</p>
    <a href="{% url 'viewdisaster'  %}" class="btn btn-primary">view All Disaster</a>
  </div>
</div>
		</div>


		
	</div>
</div>
{% endblock %}