{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div class="container">
	<div class="row" style="background-image: url( '') ; height :600px; background-size: cover;" >
		<div class="col-6">
			<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" width="100%">
		</div>
		<div class="col-6 mt-5 ">
	
		
			<form  class="border shadow p-5" method="POST" action="">
						{% csrf_token %} 
				
					<h1> Forgot Password</h1>
					<p class=text-danger>{{res}}</p>
					<p class="text-success">{{rest}}</p> 
					<label>Email Addrees</label>
					<input type="email" name="em" placeholder="Email Address" class="form-control rounded-0 p-2">
					<br>
				
					
					<br>
				<button type="submit">Get Password</button>
				<br>
				
			</form>
		</div>
	

</div></div>


<script type="text/javascript">
	{% if msg == 1 %}
	alert("Invalid candidate ")
	{% endif %}
</script>

{% endblock %}
</body>
</html>