{% extends 'sidebar.html' %}
{% block content %}
{% load static%}
<style type="text/css">
	p{  }
</style>

<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-3"></div>
				<div class="col-8  pt-5">
					<h3 class="text-center" style="color:#77c720"> Greenhouse Analysis</h3>
					<hr/>
					<p class="border p-3 shadow mt-4 rounded-pill">Annual CO₂ emissions for all years</p>
					<p class="border p-3 shadow mt-4 rounded-pill">Annual CO₂ emissions for a range of years</p>
					<p class="border p-3 shadow mt-4 rounded-pill">Annual consumption-based CO₂ emissions for all years</p>
					<p class="border p-3 shadow mt-4 rounded-pill">Annual consumption-based CO₂ emissions for a range of years</p>
					<p class="border p-3 shadow mt-4 rounded-pill">Comparison of two countries Annual CO₂ emissions</p>
					<p class="border p-3 shadow mt-4 rounded-pill">Comparison of two countries Annual consumption-based CO₂ emissions</p>
				</div>
				
			</div>
		</div>
	</div>


{% endblock %}
